<h4>
<center>
  Software Training
  <center>
</h4>

We are organizing software skills for physics training
events. Upcoming events include:
<ul>
  <li> December 4-8 2023 in Kolkata
</ul>

Recent events include:
<ul>
  <li> May 1-5, 2023 at TIFR/Mumbai (<a href="https://indico.cern.ch/event/1254939/">Agenda and registration</a>)
</ul>

Other events to be announced. Interested in hosting an event? Please
contact us <a style="display: inline; clear: none;" href="mailto:rsc-inquiries@google-groups.com">by email</a>.

</center>
