<h4>
<center>
  Software Training
  <center>
</h4>

We are organizing software skills for physics training
events.

Upcoming events include:
<ul style="list-style-type: circle; padding-left: 20px;">
  <li> EIC Detector and Physics Simulation Workshop and Tutorial at IIT Bombay <a href="https://indico.cern.ch/event/1394564/">May 13-18 2025</a>
</ul>    

<ul style="list-style-type: circle; padding-left: 20px;">
  <li> HSF-India Scientific Computing Workshop at IISc - Bangalore <a href="https://indico.cern.ch/event/1519117/">June 15-21 2025</a>
</ul> 

<ul style="list-style-type: circle; padding-left: 20px;">
  <li> HSF-India Scientific Computing Workshop - Chandigarh <a href="https://indico.cern.ch/event/1529191/">September 15-21 2025</a>
</ul>     

    
Past events include:
<ul style="list-style-type: circle; padding-left: 20px;">
  <li> <a href="https://indico.cern.ch/event/1394564/">January 13-17 2025 at University of Hyderabad</a>
</ul>    
<ul style="list-style-type: circle; padding-left: 20px;">
  <li> <a href="https://indico.cern.ch/event/1461967/">December 16-20 2024 at VECC (Kolkata)</a>
</ul>
    
<ul style="list-style-type: circle; padding-left: 20px;">
  <li> <a href="https://indico.cern.ch/event/1386725/">December 18-22 2023 at Delhi University</a>
</ul>
<ul style="list-style-type: circle; padding-left: 20px;">
  <li> <a href="https://indico.cern.ch/event/1328624/">December 18-22 2023 at NISER (Bhubaneswar)</a>
</ul>
    
<ul style="list-style-type: circle; padding-left: 20px;">
  <li> <a href="https://indico.cern.ch/event/1254939/">May 1-5, 2023 at TIFR/Mumbai</a>
</ul>

Other events will be announced as they are scheduled. Interested in hosting an event? Please
<a style="display: inline; clear: none;" href="mailto:rsc-inquiries@google-groups.com">contact us</a>.

</center>
