<h4>
<center>
  Student traineeship program
  <center>
</h4>

<p style="font-size:20px; padding-left:5px">
  Our 2025 program is open for applications.
  <a href="/trainees.html">More information about the participants and their research</a>.
</p>


{% assign trainees = site.pages | where: "pagetype", "trainee"
                               | last_name_sort: "name"
                               | reverse %}

{%- if trainees.size > 0 %}

{% assign n_train = trainees.size %}
{% assign total_width = 75 %}

{% assign pic_width = total_width | divided_by: n_train %}

<div id="current" class="container-fluid">
  <div class="row" style="align-items:center">
    {% for person in trainees %}
         <img style="width: {{pic_width}}%; height:auto;" src="{{person.photo}}" alt="Card image cap">
    {% endfor %}
  </div>
  <br>
</div>
{%- endif -%}

