<h4>
<center>
  Software Training
  <center>
</h4>

We are organizing software skills for physics training
events.

Upcoming events include:
<ul style="list-style-type: circle";>
  <li> December 4-8 2023 in Kolkata
</ul>

Recent events include:
<ul style="list-style-type: circle";>
  <li> May 1-5, 2023 at TIFR/Mumbai (<a href="https://indico.cern.ch/event/1254939/">Agenda and registration</a>)
</ul>

Other events will be announced as they are scheduled. Interested in hosting an event? Please
<a style="display: inline; clear: none;" href="mailto:rsc-inquiries@google-groups.com">contact us</a>.

</center>
