
<div class="container-fluid">
  <div class="row">
{% for network in site.networks%}
  {% assign nummembers = network.personnel | size %}
  {% if nummembers > 0 %}
        <div class="card" style="font-size:14px;height:90px;margin-left:5px;margin-right:5px;margin-bottom:-15px; border: none; text-align: center;">
          <a href="{{network.url}}"><img style="height: 85px;" src="{{network.logo}}" alt="Card image cap"></a>
        </div>
  {% endif %}
{% endfor %}
  </div>
</div>


<div class="container-fluid">>
<h4>
  <center>
    Join us! <img src="/assets/images/coming-soon-monsoon.png" style="width:5%">
  </center>
</h4>
</div>

</center>
