<!doctype html>

{% include layout_header_navbar.html %}
    <div id="container">
      <div class="container page">
        <main role="main">

<div class="row" style="display: flex; margin-bottom: 3.5em; margin-top: 3.5em;">
  <div class="card" style="border: 0px solid white; padding: 5px">
  <img style="height: 250px;" src="{{page.photo}}" alt="Card image cap"> 
  </div>
  <div class="mainpage-core mainpage-container" style="border: 0px solid white; padding: 5px">
  <h2>{{ page.name }} - {{ page.institution }}</h2>
  </div>
</div>  

  Website: <a href="{{page.website}}">{{page.website}}</a>

<div>
  {{ content }}
</div>

<h2>Presentations related to HSF-India</h2>
{% assign prescount = 0 %}

{%- assign presentationlist = page.presentations | default: empty-list | sort: "date" | reverse -%}
<h4>{{page.name}} - {{page.institution}}</h4>
{%- if presentationlist.size > 0 -%}
  <ul>
    {%- for talk in presentationlist -%}
      {%- assign prescount = prescount | plus: "1" -%}
      <li>
        {%- include print_pres.html talk=talk -%}
      </li>
    {%- endfor- %}
  </ul>
{%- else -%}
  <p>No presentations found.</p>
{%- endif -%}

Total presentations: {{ prescount }}.

{% assign nummembers = page.personnel | size %}
{% if nummembers > 0 %}
<h2>Collaborators</h2>
<div class="container-fluid">
  <div class="row">
      {% assign members = page.personnel | hash_fetch: site.data.people
                                         | where_exp:"item", "item.active and item.hidden != true"
                                         | last_name_sort: "name" %} 
      {% for person in members %}
        {% include standard_person_card.md person=person %}
      {% endfor %}
  </div>
</div>
{% endif %}

        </main>
      </div>
      {% include_cached footer.html %}
    </div>

  {% include_cached layout_analytics.html %}

  </body>
</html>
