<!doctype html>

{% include layout_header_navbar.html %}
    <div id="container">
      <div class="container page">
        <main role="main">
          PAGE: {{page.name}}

<div class="container-fluid">
  <div class="row">
      {% assign members = page.personnel | hash_fetch: site.data.people
                                         | where_exp: "item", "item.active == nil or item.active == false and item.hidden != true"
                                         | last_name_sort: "name" %} 
      {% for person in members %}
        {% include standard_person_card.md person=person %}
      {% endfor %}
  </div>
</div>

          {{ content }}


        </main>
      </div>
      {% include_cached footer.html %}
    </div>

  {% include_cached layout_analytics.html %}

  </body>
</html>
